<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detect Object</title>
</head>
<body>
    <button onclick="callAPI()">Công việc 1</button>
    <button onclick="CallDraftAPI()">Công việc 2</button>
    <!-- <button onclick="callAPISelectOrange()">Chọn cam</button>
    <button onclick="callAPISelectApple()">Chọn táo</button> -->
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
    
    <script>
       async function callAPI() {
        const data = await axios.post('http://localhost:3/api/create')
            // var time = 0;
            // while (time <= 2) {
            //     timeStart = Date.now();
            //     const data = await axios.post('http://localhost:3000/api/create')
            //     timeEnd = Date.now();
            //     time = time + (timeEnd - timeStart)/1000;
            //     console.log(time);
            // }     
        }
    </script>
</body>
</html>
