<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apps Client</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/async/3.2.0/async.min.js"></script>
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- <script type="module">
        import blockQueue from 'https://cdn.jsdelivr.net/npm/block-queue@0.0.2/+esm'
    </script> -->
</head>
<body>

    <button onclick="GapVatThe()">Gắp vật thể</button>
    <!--<button onclick="CongViec2()">Công việc 2</button>-->
    <div id="queue"></div>
    <script>
        
        const apiQueue = async.queue(async function(task, callback) {
            try {
                console.log('Start task');
                await task();
                callback();
            } catch (error) {
                console.log('Error: ', error);
                callback(error);
            }
        }, 1);
        
        function callApi(url, number) {
            return async function() {
                console.log('Calling API with URL:', url, 'and number:', number);
                await axios.post(url, { "amplitude": number });
                console.log('Finished API call with URL:', url, 'and number:', number);
            }
        }

        async function GapVatThe() {
            apiQueue.push(callApi('http://localhost:3030/cobot_api/rotate_base_right', Math.PI/2));//1.57079632
            apiQueue.push(callApi('http://localhost:3030/cobot_api/rotate_servo_01_up', Math.PI/4));//0.785398

            document.getElementById('queue').innerHTML = '<p>Starting API calls...</p>';
            
            apiQueue.drain(() => {
                console.log('All API calls have been processed.');
                document.getElementById('queue').innerHTML += '<p>All API calls have been processed.</p>';
            });
        }
    </script>
</body>
</html>
